/* Common CSS Start  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.clr{
    clear: both;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

.mr{
    margin-right: 0px !important;
}
/* Common CSS End  */

/* Header CSS Start  */

#header{
    background: rgba(0, 0, 0, 0.479);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.menu .logo{
    width: 170px;
    float: left;
    padding-top: 25px;
}

.menu .menu_items{
    width: 1000px;
    float: left;
    text-align: right;
}

.menu .menu_items ul li{
    display: inline-block;
}

.menu .menu_items ul li a{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 45px;
    line-height: 80px;
    transition: .5s;
}

.menu .menu_items ul li a:hover{
    color: skyblue;
}

/* Header CSS End  */


/* Banner CSS Start  */

#banner{
    background: url(../images/Banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 350px;
    padding-bottom: 250px;
}

.banner_texts{
    text-align: center;
}

.banner_texts h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}

.banner_texts h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
    padding: 20px 0px;
}

.banner_texts p{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
}

/* Banner CSS End  */


/* Service CSS Start  */

#service{
    background: #f9f9f9;
    padding: 85px 0px;
}

.service_text{
    text-align: center;
}

.service_text h3{
    font-size: 30px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
    color: #444444;
}

.service_text p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #666666;
    line-height: 22px;
    padding-top: 35px;
    padding-bottom: 80px;
}

.service_text h4{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    color: #444444;
    padding-bottom: 30px;
}

/* landscape */

.type_landscape{
    width: 368px;
    border: 1px solid #e3e3e3;
    padding: 15px;
    float: left;
    margin-right: 30px;
}

.sample_image_one img{
    width: 100%;
}

.type_landscape .intro_one{
    text-align: center;
}

.intro_one h4{
    padding: 10px 0px;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    color: #444444;
    cursor: pointer;
    transition: .5s;
}

.intro_one h4:hover{
    color: skyblue;
}

.intro_one p{
    padding: 0px 15px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #666666;
    line-height: 22px;
}

/* landscape */

/* advertorial  */

.type_advertorial{
    width: 368px;
    border: 1px solid #e3e3e3;
    padding: 15px;
    float: left;
    margin-right: 30px;
}

.sample_image_two img{
    width: 100%;
}

.type_advertorial .intro_two{
    text-align: center;
}

.intro_two h4{
    padding: 10px 0px;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    color: #444444;
    cursor: pointer;
    transition: .5s;
}

.intro_two h4:hover{
    color: skyblue;
}

.intro_two p{
    padding: 0px 15px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #666666;
    line-height: 22px;
}

/* advertorial  */

/* conceptual   */

.type_conceptual{
    width: 368px;
    border: 1px solid #e3e3e3;
    padding: 15px;
    float: left;
}

.sample_image_three img{
    width: 100%;
}

.type_conceptual .intro_three{
    text-align: center;
}

.intro_three h4{
    padding: 10px 0px;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    color: #444444;
    cursor: pointer;
    transition: .5s;
}

.intro_three h4:hover{
    color: skyblue;
}

.intro_three p{
    padding: 0px 15px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #666666;
    line-height: 22px;
}

/* conceptual   */

/* Service CSS End  */


/* insta CSS Start  */

#instagram{
    padding: 50px 0px;
    background: #2c2c2c;
}

.ig_heading{
    text-align: center;
    padding-bottom: 45px;
}

.ig_heading h4{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    color: #d5d5d5;
    text-transform: uppercase;
    position: relative;
}

.ig_heading h4::before{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    width: 100px;
    height: 1px;
    background: #535353;
    content: "";
}

.ig_heading h4::after{
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translateY(-50%);
    width: 100px;
    height: 1px;
    background: #535353;
    content: "";
}

.shots{
    width: 25%;
    float: left;
}

.shots img{
    width: 100%;
}

.ig_linkbox{
    padding-top: 60px;
    text-align: center;
}

.ig_linkbox a{
    text-transform: uppercase;
    color: #878787;
    border: 1px solid #797979;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    transition: .5s;
}

.ig_linkbox a:hover{
    color: skyblue;
}

.ig_linkbox a i{
    margin-right: 5px;
}

/* insta CSS End  */



/* Journal CSS Start  */

#journal{
    padding-top: 80px;
    padding-bottom: 40px;
    background: #f9f9f9;
}

.journal_heading{
    text-align: center;
    margin-bottom: 30px;
}

.journal_heading h4{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    color: #444444;
    position: relative;
}

.journal_heading h4::before{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    width: 100px;
    height: 1px;
    background: #d9d9d9;
    content: "";
}

.journal_heading h4::after{
    position: absolute;
    top: 50%;
    right: 35%;
    transform: translateY(-50%);
    width: 100px;
    height: 1px;
    background: #d9d9d9;
    content: "";
}


/* common css in journal_types part  */

.comment_section h6{
    text-align: left;
}

.comment_section h6 a{
    margin-left: 25px;
    text-transform: uppercase;
    color: #999999;
    border-bottom: 1px solid #28b8d8;
    padding-bottom: 5px;
    transition: .5s;
}

.comment_section h6 a:hover{
    color: #28b8d8;
}

.comment_section h6 i{
    padding-left: 180px;
    padding-right: 2px;
    color: #28b8d8;
}

/* common css in journal_types part  */


.one{
    padding-top: 25px;
    border: 1px solid #e3e3e3;
    width: 368px;
    text-align: center;
    float: left;
    margin-right: 30px;
}

.one h4{
    color: #444444;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}

.one h6{
    color: #999999;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    padding-bottom: 25px;
}

.one p{
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 25px 0px;
    line-height: 20px;
    padding: 0px 15px;
}


.two{
    padding-top: 25px;
    border: 1px solid #e3e3e3;
    width: 368px;
    text-align: center;
    float: left;
    margin-right: 30px;
}

.two h4{
    color: #444444;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}

.two h6{
    color: #999999;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    padding-bottom: 25px;
}

.two p{
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 25px 0px;
    line-height: 20px;
    padding: 0px 15px;
}


.three{
    padding-top: 25px;
    border: 1px solid #e3e3e3;
    width: 368px;
    text-align: center;
    float: left;
}

.three h4{
    color: #444444;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}

.three h6{
    color: #999999;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    padding-bottom: 25px;
}

.three p{
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 25px 0px;
    line-height: 20px;
    padding: 0px 15px;
}

/* Journal CSS End  */

/* about myself start  */

#myself{
    padding-top: 40px;
    padding-bottom: 80px;
    background: #f9f9f9;
}

.about_me{
    width: 570px;
    float: left;
    margin-right: 30px;
}

.my_services{
    width: 570px;
    float: left;
}

.myself_heading{
    padding-bottom: 30px;
}

.myself_heading h5{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: #444444;
    position: relative;
    display: inline-block;
}
.myself_heading h5:after{
    position: absolute;
    top: 50%;
    right: -110px;
    transform: translateY(-50%);
    width: 100px;
    height: 1px;
    background: #d9d9d9;
    content: "";
}

.introduction .my_image{
    float: left;
    width: 200px;
    margin-right: 20px;

}

.my_image img{
    width: 100%;
}

.introduction .description{
    float: left;
    width: 350px;
}

.introduction .description .boro_p{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
    color: #666666;
    line-height: 28px;
}

.description .mini_p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #666666;
    line-height: 24px;
    padding-top: 30px;
}

/* my service brifing */

.logos{
    width: 45px;
    float: left;
    margin-right: 25px;
}

.logos img{
    width: 100%;
}

.brief_one{
    width: 500px;
    float: left;
}

.brief_one a{
    color: #444444;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    transition: .5s;
}

.brief_one a:hover{
    color: skyblue;
}

.brief_one p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #666666;
    line-height: 22px;
    padding-top: 15px;
    padding-bottom: 30px;
}

/* my service brifing */


/* about myself end  */




/* Closing CSS Start  */

#closing{
    padding: 65px 0px;
    background: #373737;
    padding-right: 30px;
}

.get_in_touch{
    width: 300px;
    float: left;
    padding-left: 20px;
}

.get_in_touch h5{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: #f0f0f0;
    padding-bottom: 25px;
}

.get_in_touch p{
    color: #cacaca;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    padding-bottom: 35px;
}

/* commons */

.contacts{
    padding-bottom: 10px;
}

.contact_logo{
    width: 10px;
    float: left;

}

.contact_logo i{
    color: #cacaca;
    font-size: 12px;
}

.contact_url{
    width: 270px;
    float: left;
    padding-left: 10px;
}

.contact_url a{
    color: #cacaca;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

/* commons */

.twitter{
    width: 260px;
    float: left;
    padding-left: 25px;
}

.twitter .text_heading h5{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: #f0f0f0;
    padding-bottom: 25px;
}

.twitter .text_heading p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #cacaca;
    line-height: 24px;
}








.popular_posts{
    width: 250px;
    float: left;
    padding-left: 30px;
}

.popular_posts .post_headings h5{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: #f0f0f0;
    padding-bottom: 25px;
}

.popular_posts .post_headings p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #cacaca;
    line-height: 22px;
}

.popular_posts .post_headings h6{
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #929292;
    padding-top: 10px;
    padding-bottom: 30px;
}




.about_us{
    width: 250px;
    float: left;
    padding-left: 35px;
}

.about_us .about_us_heading h5{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: #f0f0f0;
    padding-bottom: 25px;
}

.about_us .about_us_heading p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #cacaca;
    line-height: 22px;
}



/* Closing CSS End  */



/* Copyright CSS Start  */

#copyright{
    padding: 40px 0px;
    background: #333333;
}

.copyright_text h6{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #cacaca;
}
/* Copyright CSS End  */


















/* Common CSS Start  */
/* Common CSS End  */